.c-transpant{
	background: transparent;
}
.mine-bg{
	background:url(../image/bg_mine.jpg)  no-repeat; background-size:cover;
	background-position-y: 70%;
}
.duihuan-bg{
	background:url(../image/bg_duihuan.jpg) no-repeat; background-size:cover;
	background-position-y: 60%;
}
.c-subTitle{
	font-size: 35px;
	line-height: 50px;
	margin: 50px 0 10px 10px;
	font-weight: bold;
	color: #300900;
}
.mui-table-view:before{
	height: 0;
}
.mui-navigate-right:after, .mui-push-right:after{
	color: #333333;
	font-weight: 600;
}

.c-subLab{
	margin: 10px 0 20px ;
	display: block;
	font-size: 12px;
}
.mui-action-back .back{
	width: 25px;
	margin-left: 10px;
}
.c-header{
	border: none;
	box-shadow: none;
	background: transparent;
}
.mui-popup-inner,.mui-popup-button{
	background: #EFE4D0;
}
.mui-popup-input.c-pop-input input{
	border: none;
	background: #DCD0BA;
	border-radius: 20px;
	line-height: 40px;
	height: 40px;
	padding-left: 10px;
	width: 92%;
	margin-left: 3%;
}
.c-pop-input{
	text-align: left ;
}
.c-pop-input label{
	margin: 15px 0 0 0;
	display: block;
}
.c-pop{
	width: 92%;
}
.c-pop .mui-popup-title{
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
}
.v-pic{
	text-align: center;
	padding: 30px 0;
}
.v-pic img{
	width: 150px;
	margin-bottom: 15px;
}
.c-active{
	color: #678651;
}
.c-def{
	color:#77171E
}
.c-media-list{
	top:150px;
	/*color: #77171E*/
}
.c-media-list .mui-media-object{
	max-width: 60px;
	margin: 0;
}
.c-center-content{
	text-align: center;
}
.code{
	width: 60%;
	margin: 15px 0;
}
.c-main-btn{
	color: white;
	border: none;
	background: #9C2930;
	padding: 0 15px;
	line-height: 40px;
	font-size: 16px;
	border-radius: 20px;
	
}
.mui-table-view{
	background: transparent;
}
.mui-table-view-cell > a:not(.mui-btn).mui-active
{
    background-color: transparent;
}

.zhengtu-bg{
	background:url(../image/zhengtu_bg.jpg)  no-repeat; background-size:cover;
	background-position-y: 70%;
}
.pop-cancel{
	color: #2D0700;
}
.pop-sure{
	color: #90141E;
}
.mui-grid-view.mui-grid-9.c-radio-grid,.mui-table-view.mui-grid-view.c-radio-grid .mui-table-view-cell{
	background: transparent;
	border: none;
}
.c-radio-grid .radio-btn{
	background:  #DBD0BA;
	border-radius: 20px;
}
.c-pop .c-bottom-tip .c-tip{
	background:  #DBD0BA;
	line-height: 40px;
	text-align: center;
	margin-top: 15px;
	width: 94%;
}
.c-pop .c-bottom-tip{
	padding-left: 3%;
}
.mui-control-content {
			height: 400px;
}
.mui-segmented-control .mui-control-item{
	display: inline-block;
	width: 32%;	
	color: #380A00;
	border: none;
	background: #DCD0BA;
	line-height: 40px;
	border-radius: 20px;
}
.mui-segmented-control .mui-control-item:nth-child(2){
	margin: 0 2%;
}
.mui-segmented-control{
	border: none;
}
.mui-segmented-control .mui-control-item.mui-active{
	background: #9D2932;
}
.c-card-out{
	border:1px solid #BA9763;
	border-radius: 6px;
	
}
.c-card-out .c-card-head{
	padding: 15px;
	background: #DCD0BA;
}
.c-card-head .c-head-1{
	position: relative;
}
.c-card-out .c-card-tip{
	border:1px solid #A1343D;
	color: #A1343D;
	border-radius: 2px;
	padding: 5px;
	font-size: 13px;
}
.c-card-out .c-head-title{
	color: #310A00;
	text-align: center;
	position: absolute;
	width: 100%;
	left: 0;
	font-size: 18px;
	font-weight: bold;
}
.c-card-head .c-head-2{
	margin: 10px 0 0;
	font-size: 14px;
}

.c-card-head .c-head-2 label:nth-child(2){
	float: right;
}
.c-card-body{
background:#EFE4D0;
}
.c-item-top label{
	float: left;
	display: block;
	color: #2A0000;
	font-size: 15px;
}
.c-item-top label:nth-child(2){
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
}
.c-item-top label:nth-child(3){
	float: right;
	color: #A1343D;
}
.c-item-bottom span{
	color: #2A0000;
	margin-top: 5px;
	display: block;
	font-size: 13px;
	
}
.nomal-bg{
	background:url(../image/empty_bg.jpg) repeat; 
	background-size:cover;
	padding-top: 40px;
	
}
.c-duihuan-top{
	background:url(../image/shuju.png) no-repeat center;
	width: 96%;
	margin: -10px 2% 0;
	height: 180px;
	background-size: 100% 100%;
	position: relative;
	text-align: center;
}
.c-duihuan-top .c-red-top{
	color: #EFE4D0;
	text-align: center;
	padding-top: 12%;
}
.c-duihuan-top .c-red-top span{
	display: block;
	font-size: 25px;
	text-align: center;
	max-width: 80%;
	margin:2.5rem auto 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
.c-duihuan-top .c-red-top label{
	display: block;
	font-size: 12px;
}
.c-duihuan-top .top-bottom{
	position: absolute;
	bottom: 2%;
	margin: 0;
	width: 100%;
	height: 30%;
	padding: 5px 0;
	text-align: center;
	width: 100%;
}
ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.c-duihuan-top .top-bottom li{
	width: 50%;
	float: left;
	color: #EFE4D0;
	padding: 0;
	
	display:table-cell;
}

.c-duihuan-top .top-bottom li p{
	font-size: 20px;
	color: #EFE4D0;
	margin: 0 auto;
	padding: 0;
	text-align: center !important;
	max-width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	width: auto;
}
.c-duihuan-top .top-bottom li span{
	font-size: 12px;
	font-weight: normal;
	line-height: 12px;
	display: inline-block;
}
.c-duihuan-btn,.c-duihuan-address,.c-duihuan-bottom{
	width: 100%;
	padding:0 3%;
	color: #300900;
}
.c-duihuan-btn button{
	border: none;
	width: 47%;
	margin: 0;
	padding: 0;
	height: 60px;
	display: inline-block;
	border-radius: 0;
}
.c-duihuan-btn .zhuanzhang{
	background: url(../image/zhuanzhang.png) no-repeat center;
	background-size: 100% 100%;
	float: right;
}
.c-duihuan-btn .shandui{
	background: url(../image/shandui.png) no-repeat center;
	background-size: 100% 100%;
}
.c-duihuan-address .tip{
	margin-top: 10px;
}
.c-duihuan-bottom .tip{
	background:url(../image/tishi.png) no-repeat ;
	background-size: 18px;
	padding-left: 25px;
	font-weight: bold;
	font-size: 13px;
}
.c-tip-role{
	margin: 5px 0 0 0;
	padding: 0 0 0 20px;
}
.c-tip-role p{
	font-size: 12px;
	color: #300900;
	margin-bottom: 0;
}
.slider-btn-layour {
position: absolute;
z-index: 999;
width: 100%;
top: 40%;
}
.slider-btn-layour .slider-btn {
color: white;
background: #9D2932;
width: 40px;
height: 40px;
border-radius: 20px;
border: none;
}
.slider-btn-layour .slider-btn:nth-child(1){
margin-left: 10%;
}
.slider-btn-layour .slider-btn:nth-child(2){
float: right;
margin-right: 10%;
}
	.c-red-btn{
				    width: 100%;
					display: block;
					height: 45px;
					border: none;
					border-radius: 2rem;
					background-color: #9E2B31;
					color: white;
					font-size: 1.3rem;
					margin-top: 10px;
			}
			.c-grade-list{
				margin: 0;
				padding: 0;
			}
			.c-grade-list li{
				float: left;
				margin-left: 0;
				margin-right: 10px;
				padding: 1px 6px;
				color: white;
				font-size: 13px;
				border-radius: 3px;
			}
			.c-grade-list li.cheng{
				background: #9D2932;
			}
			.c-grade-list li.yuan{
				background: #494166;
			}
			.c-grade-list li.jian{
				background: #177CB0;
			}
			.c-grade-list li.bin{
				background: #789262;
			}
			.c-grade-list .grade-tip{
				float: right;
				color: #63010A;
				font-weight: bold;
			}
			
			.c-input-out{
				padding: 0 3%;
			}
			.c-input-out label{
				color: #67513D;
				font-size: 12px;
			}
			.c-input-out textarea{
				margin: 10px 0 15px;
				background: #EFE4D0;
				border-radius: 5px;
			}
			.updata-address{
				background: #9D2932;
				color: #F9FBE4;
				border-radius: 20px;
				border: none;
				margin-left: 3%;
				height: 40px;
				padding: 0 25px;
				line-height: 40px;
			}
			.c-media-list .mui-table-view .mui-table-view-cell{
				padding: 15px 15px;
			}
		.c-media-list .mui-table-view .mui-media,.c-scroll-list .mui-table-view .mui-media-body{
			color: #300900;
		}
.c-media-list .mui-table-view .mui-media-body .mui-ellipsis{
	color: #7D6043;
	margin-top: 5px;
}
.mui-table-view-cell:after{background-color:#DFD1AD !important ;}
.mui-table-view:after{background-color:#DFD1AD;left: 15px;}