 /*tab_home*/
.home-ti-code{width: 90%;padding: 10px 0;font-size: 1rem;color:#300900;background: url(../image/copy.png) no-repeat 95%;background-color: #EFE4D0;border:2px solid #BDA069;border-radius:20px;text-align: left;padding-left:5%;padding-right:5%;background-size: 4%;margin-top: 15px;text-overflow:ellipsis;overflow: hidden;}
 /*home-normal*/
.normal-body .leiji-money{background: url(../image/gaojiqu.png) center no-repeat;width:300px;height:150px;background-size: cover;}
.normal-body .leiji-money h5:first-child{margin-top:60px;position: absolute;width: 300px;font-size: 1.5rem;color: #FED500;}
.normal-body .leiji-money h5+h5{margin-top: 88px;position: absolute;width: 300px;color: white;font-size:0.8rem;}
.normal-body .putong-leiji{background: url(../image/putongqu.png) center no-repeat;width:300px;height:150px;background-size: cover;}
.normal-body .putong-leiji h5:first-child{margin-top:55px;position: absolute;width: 300px;font-size: 1.5rem;color: #FED500;}
.normal-body .putong-leiji h5+h5{margin-top: 88px;position: absolute;width: 300px;color: white;font-size:0.8rem;}
/*.normal-body h5:first-child{color: #9E2B31;font-size: 1.5rem;margin-top: 2rem;font-weight: bold;}
.normal-body h5+h5{color: #300900;font-size:1rem;margin-top: 5px;}*/
.normal-part{margin-left: 2%;margin-right:2%;background: url(../image/normal-partbg.png) no-repeat;background-size: 100% 100%;height: 160px;padding:20px 10%;margin-top: 15px; width: 96%;}
.normal-part .title-desc{background: url(../image/normal-horse.png) center center no-repeat;height:4.5rem;margin: auto auto;background-size: 25%;}
.normal-part .title-desc label{display: inline-block;line-height: 4.5rem;float: left;color:#300900 ;font-size:17px;}
.normal-part .title-desc label+label{float: right;}
.normal-part .title-desc label.book{color: #9E2B31;}
.normal-part .title-desc label.finish{color: #708B5C;}
.normal-part .progress{width: 100%;background-color: #DCD0BA;height: 15px;clear: both;position: relative;}
.normal-body .progress span.have-chou{width:50%;background-color: #C0A16B;display: inline-block;height: 15px;float: left;}
.normal-body .progress span.need-chou{width: 20%;background-color: #9D2932;display: inline-block;height: 15px;float: left;}
.normal-part .progess-message{position: relative;margin-top: 3px;}
.normal-part .progess-message span{color: #9E2B31;font-size: .7rem;}
.normal-part .progess-message span+span{color:#300900;}
.normal-part.high-part{background: url(../image/high-bg.png) no-repeat;background-size: 100% 100%;}
.normal-part.high-part .title-desc{background: url(../image/high-carriage.png) center center no-repeat;background-size: 25%;}
/*login*/
.login-logo {clear: both;margin-top: 25%;}
.login-logo img {width: 20%;}
.login-desc {margin-left: 10px;color: #300900;font-size: 1rem;margin-top: 1.5rem;display: inline-block;}
.login-form {margin-left: 10px;margin-right: 10px;margin-top: 10px;}
.login-form input {padding-left: 10px;background-color: #DCD0BA;border: none;color: #9B8F7F;font-size: .8rem;height: 45px;border-radius: 2rem;}
.login-form button {width: 100%;display: block;height: 45px;border: none;border-radius: 2rem;background-color: #9E2B31;color: white;font-size: 1.3rem;margin-top: 10px;
/*大转盘*/
