<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/c.css" rel="stylesheet"/>
	<style>
		.c-tab-zhunbei{
			background: url(../image/zhunbei.png) no-repeat center !important;
			background-size: 100% 100% !important;
			color: transparent !important;
		}
		.c-tab-zhengzz{
			background: url(../image/zhengzhan.png) no-repeat center !important;
			background-size: 100% 100% !important;
			color: transparent !important;
		}
		.c-tab-wanchen{
			background: url(../image/wanc.png) no-repeat center !important;
			background-size: 100% 100% !important;
			color: transparent !important;
		}
		.mui-table-view:after,.mui-table-view-cell:after{
			height: 0;
		}
	</style>
	</head>
	<body>
		<div class="mui-fullscreen zhengtu-bg">
			<div class="c-subTitle">
						 征途
			</div>
				<div style="padding:  10px 2%;">
				<div id="segmentedControl" class="mui-segmented-control">
					<a class="mui-control-item mui-active c-tab-zhunbei" href="#item1" status="1" >准备中</a>
					<a class="mui-control-item c-tab-zhengzz" href="#item2" status="2">征战中</a>
					<a class="mui-control-item c-tab-wanchen" href="#item3" status="3">已完成</a>
				</div>
			</div>
			<div class="main-content">
				<div id="item1" class="mui-control-content mui-active">
					<div  class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view">
							</ul>
						</div>
					</div>
				</div>
				<div id="item2" class="mui-control-content">
					<div id="scroll" class="mui-scroll-wrapper">
						<div class="mui-scroll">
					<ul class="mui-table-view">
					
						
					</ul>
						</div>
					</div>
				
				</div>
				<div id="item3" class="mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
						<ul class="mui-table-view">
						</ul>
					</div>
					</div>
				</div>
			</div>
		</div>
			<script type="text/html" id="main-card">
			<%for(i = 0 ; i < list.length ; i++){%>
				<li class="mui-table-view-cell">
					<div class="c-card-out">
						<div class="c-card-head">
							<div class="c-head-1">
							<label class="c-card-tip"><%= list[i].catalog%></label>
							<span class="c-head-title">第 <%= list[i].number%> 局</span>
							</div>
							<div class="c-head-2">
								<label>我的票数:<%= list[i].poster%></label>
								<label>剩余票数:<%= list[i].deal%></label>
							</div>
						</div>
						<%if(list[i].log){%>
						<div class="c-card-body">
							<ul class="mui-table-view">
								<%for(j = 0 ; j < list[i].log.length ; j++){%>
									<li class="mui-table-view-cell">
										<div class="c-item-top">
											<label><%= list[i].log[j].name%></label>
											<label><%= list[i].day%> </label>
											<label><%= list[i].log[j].num%></label>
											<div style="clear: both;"></div>
										</div>
										<div class="c-item-bottom">
											<span><%= list[i].log[j].time%></span>
										</div>
									</li>
									
									<%}%>
							
								</ul>
						</div>
						<%}%>
					</div>
				</li>
			<%}%>
		</script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-1.11.0.js"></script>
		<script src="../js/template.js"></script>
		<script src="../js/common.js"></script>
		<script>
			(function($) {
			})(mui);
			
			// H5 plus事件处理
			mui.plusReady(function(){
					var height = plus.screen.resolutionHeight;
					$(".mui-control-content").css("height",(height-235)+"px");
					mui('.mui-scroll-wrapper').scroll({
						indicators: true //是否显示滚动条
					});
					initData();
			})
			mui("#segmentedControl").on("tap",".mui-control-item",function(){
				setTimeout(function(){
					initData();
				},1000);
				
			})
			function initData(){
				var params ={};
				params.from = itemUrl.mfrom;
				params.sign = itemUrl.sign;
				params.token = getToken();
				params.state = $(".mui-control-item.mui-active").attr("status");
				mui.post(baseUrl+itemUrl.log,params,function(data){
						//console.log(JSON.stringify(data))
						if(data.code=="200"){
 							var family_html = template.render('main-card', data.data);
 							 $('.mui-control-content.mui-active .mui-table-view').html(family_html);
						}else{
							mui.toast(data.message,{ duration:'long', type:'div' });
						}
					},'json'
				);
			}
		</script>
	</body>
</html>
